body {
  font-family: "Poppins", sans-serif;
  background-color: #12101d;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2c {
  grid-template-columns: 1fr 1fr;
}

.grid-3c {
  grid-template-columns: 1fr 3fr 2fr;
}
.img-responsive {
  max-width: 100%;
}
section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px;
  color: #ffffff;
}
section.secondary {
  background-color: #181525;
  max-width: 1600px;
}
section p {
  opacity: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  text-justify: auto;
}

header {
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
}
header h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #ffffff;
  padding: 16px 32px;
  text-decoration: none;
  color: #272044;
  border-radius: 5px;
  margin-top: 32px;
  display: inline-block;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.3;
  letter-spacing: 5px;
  margin: 0;
}

footer {
  background-image: linear-gradient(rgba(15, 3, 20, 0.9), rgba(15, 3, 20, 0.9)),
    url("../images/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul {
  padding: 0;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}
footer a:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
